{% extends "index.html" %}
{% block content %}
<div class="contrainer">
    <table class="table table-hover">
        <thead class="thread-light">
            <tr>
                <th scope="col">Log Id</th>
                <th scope="col">User</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <th scope="row">{{ log.id }}</th>
                <td>{{ log.username }}</td>
                <td>{{ log.title }}</td>
                <td>{{ log.date }}</td>
                <td>{{ log.start_time }}</td>
                <td>{{ log.end_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="search" method="get">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
        {% endfor %}

        <div>
            {{ form.username }}
        </div>
        <button type="submit">Search</button>
    </form>
</div>
{% endblock content %}